#root {
    background-color: white;
    color: black;
}

.App {
    height: 100%;
    width: 670px;
    background-color: white;
}
@media (min-width: 1024px) {
    .App {
        width: 100%;
    }
}

.App > p {
    font-style: italic;
}
